<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light mb-5">Product management</h1>
        <p class="lead text-body-secondary">This is a basic CRUD System</p>
        <a href="/addpage" class="btn btn-primary mt-3 px-4 rounded-pill shadow-sm"><i class="bi bi-bag-plus-fill"></i>
          Add Product // by admin</a>
      </div>
    </div>
  </section>
</main>